@{
    ViewBag.Title = "Contact";
}


<div>
    <a href="https://www.thesoftwareguild.com/locations/greater-cleveland/">Greater Cleveland</a><br/>
    <a href="https://www.thesoftwareguild.com/locations/kentucky/">Kentucky</a><br />
    <a href="https://www.thesoftwareguild.com/locations/minneapolis/">Minneapolis</a><br />
    <a href="https://www.thesoftwareguild.com/locations/online/">Online</a><br /><br/>
</div>

<address>
    <strong>By Phone:</strong>  855.599.9584
</address>