
@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Company Report</h2>
        <div class="dropdown pull-right">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-file-excel-o"></i> Excel</a></li>
                <li><a href="#"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
            </ul>
        </div>
        <table class="table table-bordered table-responsive">
            <tbody>
                <tr>
                    <td colspan="4">Palo Alto, CA</td>
                    <td><span class="badge">2</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td># of Currently Employed</td>
                    <td># of Total Employed</td>
                    <td># of Current Posts</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Tesla</td>
                    <td>4</td>
                    <td>5</td>
                    <td>2</td>
                </tr>
            <tr>
                <td></td>
                <td>Test</td>
                <td>2</td>
                <td>2</td>
                <td>1</td>
            </tr>
            <tr>
                <td colspan="4">Akron, OH</td>
                <td><span class="badge">1</span></td>
            </tr>
            <tr>
                <td></td>
                <td>Name</td>
                <td># of Currently Employed</td>
                <td># of Total Employed</td>
                <td># of Current Posts</td>
            </tr>
            </tbody>

        </table>

    </div>
</div>